version: '3.8'
services:
  postgres:
    image: postgres:16-alpine
    container_name: shop_postgres
    restart: unless-stopped
    environment:
      - POSTGRES_USER=cafe
      - POSTGRES_PASSWORD=cafe
      - POSTGRES_DB=cafe
    ports:
      - '5432:5432'
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U cafe -d cafe"]
      interval: 5s
      timeout: 5s
      retries: 10
  redis:
    image: redis:7-alpine
    container_name: shop_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
volumes:
  db-data:
